@font-face {
    font-family: Roboto;
    src: url(/fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: Neuropolitical;
    src: url(/fonts/neuropolitical/neuropolitical.ttf);
}

html,
body {
    font-family: Roboto;
    overflow-x: hidden;
    line-height: 1.6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Neuropolitical;
    text-transform: none;
}
code,
pre {
    font-family: "Source Code Pro", monospace;
}
button {
    margin: 8px;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}
.ReactModal__Overlay--after-open {
    opacity: 1;
}
.ReactModal__Overlay--before-close {
    opacity: 0;
}
.ReactModal__Body--open {
    overflow: hidden;
    /* position: fixed; */
    width: 100%;
    height: 100%;
}
